@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

@keyframes wiggle {
  0% , 100% {
    transform:rotate(1deg);
  }

  50% {
    transform: rotate(5deg) ; 
  }
}

.wiggle-animation {
animation:  wiggle  0.5s ease-in-out infinite ;
} 




@keyframes upDown {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-12px); }
}

.animate-up {
  animation-name: upDown;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
